html>body{font-family:'Roboto','Helvetica','Arial',sans-serif!important;}
body {
	background: #eee;
	
}

#gitInterface_summaryTextArea{
	resize: none;
}
#gitInterface_descriptionTextArea{
	resize: none;
}
hr {
	height: 2px;
	width:100%;
	display:block;
	margin: 4px 0;
	overflow: hidden;
	background-color: #495056;
}
#gitInterface_unstagedChangesDiv{
	background: #fff;
	min-height:120px;
	min-width:250px;
	max-height:120px;
	max-width:250px;
	overflow:auto;
	color:red;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;

}
#gitInterface_unstagedChangesDiv .list-group-item{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 16px;
}
#gitInterface_stagedChangesDiv .list-group-item{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 16px;
}
#gitsubmit_treeOPenRepo .list-group-item{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#gitsubmit_treeOPenRepo{
	max-height: 300px;
	overflow: auto;
}
#tree{
	min-height: 200px;
	max-height: 400px;
	overflow: auto;
}
#gitInterface_stagedChangesDiv{
	background: #fff;
	min-height:120px;
	min-width:250px;
	max-height:120px;
	max-width:250px;
	overflow:auto;
	color:green;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}
#gitInterface_uploadChangesDiv{
	background: #fff;
	min-height:200px;
	min-width:400px;
	max-height:400px;
	max-width:400px;
	overflow:auto;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 80%;
    margin-top: -1px;
}



.hide {
  display:none;
}

.dropdown{

left:80%;

}

#gitInterface_selectAssignment{
cursor:pointer;
}

#gitInterface_openrepo{
cursor:pointer;
}

#projectslist_Assignments{
transition: all .2s ease-in-out;
}
#projectslist_Assignments:hover{
transform: scale(1.1);
cursor:pointer;
background-color:rgb(178,255,89);
}

.selected{
    border: 1px solid #888;
    background-color: rgb(178,255,89) ;
    background-image:none;
}

.panel-background-div{
color: #eee;
background-color: #3c763d;
}

ul#commits_to_pull{
list-style: none;
    padding-left: 4%;
    padding-right: 4%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
ul#commits_to_push{
list-style: none;
    padding-left: 4%;
    padding-right: 4%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#pull_commits_ul_heading{
font-size: large;
text-decoration: underline;
    padding-left: 4%;
}
#push_commits_ul_heading{
font-size: large;
text-decoration: underline;
    padding-left: 4%;
}
.commitToPushNumber{
float:right;color:blue;
}
.commitToPullNumber{
	float:right;color:red;
}